# Question & Answers based on the Employee Database

## Basics Queries

#### Query 1

List all employees' names and their hire dates:

##### Answer

In [ ]:
SELECT first_name, last_name, hire_date
FROM employees;

#### Query 2

Find the highest salary in the database

##### Answer

In [ ]:
SELECT MAX(salary) AS highest_salary
FROM salaries;

#### Query 3

List all employees who were hired in the year 2000:

Note that: to get the year in sqlite we use: strftime('%Y', date_column)

##### Answer

In [ ]:
SELECT *
FROM employees
WHERE YEAR(hire_date) = 2000;

in SQLite we can extract the year as follow:

In [ ]:
SELECT * FROM employees
WHERE strftime('%Y', hire_date) = '2000';

#### Query 4

Find the average salary for all employees:

##### Answer

In [ ]:
SELECT AVG(salary) AS average_salary
FROM salaries;

#### Query 5

List all departments and the number of employees in each

- as a hint run the following query

In [ ]:
SELECT d.dept_name , d.dept_no, e.emp_no 
FROM departments d
JOIN dept_emp e ON d.dept_no = e.dept_no

##### Answer

In [ ]:
SELECT d.dept_name, COUNT(e.emp_no) AS num_employees
FROM departments d
JOIN dept_emp e ON d.dept_no = e.dept_no
GROUP BY d.dept_name;

#### Query 6

List all employees whose first name starts with 'A'

##### Answer

In [ ]:
SELECT * FROM employees WHERE first_name LIKE 'A%';

#### Query 7

Find the number of employees in the 'Sales' department

##### Answer

In [ ]:
SELECT COUNT(*) FROM dept_emp WHERE dept_no IN (SELECT dept_no FROM departments WHERE dept_name = 'Sales');

#### Query 8

List all employees who were hired in the year 1995

##### Answer

In [ ]:
SELECT * FROM employees WHERE YEAR(hire_date) = 1995;

In [ ]:
SELECT * FROM employees
WHERE strftime('%Y', hire_date) = '1995';

to get the count of them

In [ ]:
SELECT count(*) FROM employees where strftime('%Y', hire_date) = '1995';

#### Query 9

Find the average salary of all employees

##### Answer

In [ ]:
SELECT AVG(salary) FROM salaries;

#### Query 10

List the top 5 highest-paid employees

- as hint you can use **LIMIT** funtion to print only the number after it.

##### Answer

In [ ]:
SELECT * FROM salaries ORDER BY salary DESC LIMIT 5;

#### Query 11

List all employees and their department names.

##### Answer

In [ ]:
SELECT e.first_name, e.last_name, d.dept_name
FROM employees e
JOIN dept_emp de ON e.emp_no = de.emp_no
JOIN departments d ON de.dept_no = d.dept_no ;

#### Query 12

Find the number of employees in each department

##### Answer

In [ ]:
SELECT d.dept_name, COUNT(e.emp_no) AS num_employees
FROM departments d
JOIN dept_emp e ON d.dept_no = e.dept_no
GROUP BY d.dept_name;

#### Query 13

List all employees who have never had a salary increase

##### Answer

In [ ]:
SELECT e.emp_no, e.first_name, e.last_name
FROM employees e
WHERE NOT EXISTS (
    SELECT 1
    FROM salaries s
    WHERE s.emp_no = e.emp_no
    AND s.salary > (SELECT MIN(salary) FROM salaries WHERE emp_no = e.emp_no)
);

For each employee in the outer query:
- The inner query checks if there's a salary record where the salary is greater than the employee's minimum salary.
- If the inner query finds such a record, it means the employee has received a salary increase, and the NOT EXISTS condition fails.
- If the inner query doesn't find any such record, it means the employee has never received a salary increase, and the NOT EXISTS condition is true.

#### Query 14

Find the highest salary for each department.

##### Answer

In [ ]:
SELECT d.dept_name, MAX(s.salary) AS max_salary
FROM departments d
JOIN dept_emp de ON d.dept_no = de.dept_no
JOIN salaries s ON de.emp_no = s.emp_no
GROUP BY d.dept_name;

#### Query 15

List all employees who have had more than one manager

##### Answer

In [ ]:
SELECT e.emp_no, e.first_name, e.last_name, COUNT(DISTINCT m.emp_no) AS num_managers
FROM employees e
JOIN dept_emp de ON e.emp_no = de.emp_no
JOIN dept_manager m ON de.dept_no = m.dept_no AND de.from_date BETWEEN m.from_date AND m.to_date
GROUP BY e.emp_no, e.first_name, e.last_name
HAVING num_managers > 1;

## Intermediate Queries

#### Query 1

List all employees who have been with the company for more than 15 years:

- hint 

DATEDIFF(CURDATE(), hire_date)  = > JULIANDAY(date('now')) - JULIANDAY(hire_date)

##### Answer

In [ ]:
SELECT *
FROM employees
WHERE DATEDIFF(CURDATE(), hire_date) > 5475;  -- Assuming 1 year = 365.25 days

in SQLite

In [ ]:
SELECT * , ((JULIANDAY(date('now')) - JULIANDAY(hire_date))/365.25) as Years_So_Far 
FROM employees 
WHERE JULIANDAY(date('now')) - JULIANDAY(hire_date) > 5475;

#### Query 2

Find the highest salary paid to an employee in the 'Sales' department:

##### Answer

In [ ]:
SELECT MAX(salary) AS highest_sales_salary
FROM salaries s
JOIN dept_emp de ON s.emp_no = de.emp_no
JOIN departments d ON de.dept_no = d.dept_no
WHERE d.dept_name = 'Sales';

#### Query 3

List all employees who have had more than 2 different titles:

##### Answer

In [ ]:
SELECT e.emp_no, e.first_name, e.last_name, COUNT(DISTINCT t.title) AS num_titles
FROM employees e
JOIN titles t ON e.emp_no = t.emp_no
GROUP BY e.emp_no, e.first_name, e.last_name
HAVING num_titles > 2;

#### Query 4

Find the average salary for female employees in the 'Engineering' department:

##### Answer

In [ ]:
SELECT AVG(salary) AS avg_female_salary
FROM salaries s
JOIN dept_emp de ON s.emp_no = de.emp_no
JOIN departments d ON de.dept_no = d.dept_no
JOIN employees e ON s.emp_no = e.emp_no
WHERE d.dept_name = 'Engineering' AND e.gender = 'F';

In [ ]:
SELECT d.dept_name as dept_name,e.gender , AVG(salary) AS avg_female_salary
FROM salaries s
JOIN dept_emp de ON s.emp_no = de.emp_no
JOIN departments d ON de.dept_no = d.dept_no
JOIN employees e ON s.emp_no = e.emp_no
WHERE e.gender = 'F';

#### Query 5

List all employees who have never had a salary increase:

##### Answer

In [ ]:
SELECT e.emp_no, e.first_name, e.last_name
FROM employees e
WHERE NOT EXISTS (
    SELECT 1
    FROM salaries s
    WHERE s.emp_no = e.emp_no
    AND s.salary > (SELECT MIN(salary) FROM salaries WHERE emp_no = e.emp_no)
);

#### Query 6

Find the average salary for female employees in the 'Sales' department.

##### Answer

In [ ]:
SELECT AVG(s.salary) AS avg_female_salary
FROM employees e
JOIN salaries s ON e.emp_no = s.emp_no
JOIN dept_emp de ON e.emp_no = de.emp_no
JOIN departments d ON de.dept_no = d.dept_no
WHERE d.dept_name = 'Sales' AND e.gender = 'F';

#### Query 7

List all employees who have been with the company for more than 10 years

- hint: JULIANDAY(date('now')) - JULIANDAY(hire_date)

##### Answer

In [ ]:
SELECT *
FROM employees
WHERE DATEDIFF(CURDATE(), hire_date) > 3650;  -- Assuming 1 year = 365 days

In [ ]:
SELECT *
FROM employees
WHERE JULIANDAY(date('now')) - JULIANDAY(hire_date) > 3650; -- Assuming 1 year = 365 days

#### Query 8

Find the employee who has had the most job titles

##### Answer

In [ ]:
SELECT e.emp_no, e.first_name, e.last_name, COUNT(DISTINCT t.title) AS num_titles
FROM employees e
JOIN titles t ON e.emp_no = t.emp_no
GROUP BY e.emp_no, e.first_name, e.last_name
ORDER BY num_titles DESC
LIMIT 1;

#### Query 9

List all employees who have worked in more than one department

##### Answer

In [ ]:
SELECT e.emp_no, e.first_name, e.last_name, COUNT(DISTINCT de.dept_no) AS num_depts
FROM employees e
JOIN dept_emp de ON e.emp_no = de.emp_no
GROUP BY e.emp_no, e.first_name, e.last_name
HAVING num_depts > 1;

#### Query 10

Find the department with the highest average salary

##### Answer

In [ ]:
SELECT d.dept_name, AVG(s.salary) AS avg_salary
FROM departments d
JOIN dept_emp de ON d.dept_no = de.dept_no
JOIN salaries s ON de.emp_no = s.emp_no
GROUP BY d.dept_name
ORDER BY avg_salary DESC
LIMIT 1;

#### Query 11

List all employees who have had a salary increase of more than 10%

##### Answer

In [ ]:
SELECT e.emp_no, e.first_name, e.last_name
FROM employees e
JOIN salaries s1 ON e.emp_no = s1.emp_no
WHERE EXISTS (
    SELECT 1
    FROM salaries s2
    WHERE s2.emp_no = e.emp_no
    AND s2.salary > 1.1 * s1.salary
);

## Advanced queries

#### Query 1

Find the top 10 highest-paid employees in the company

##### Answer

In [ ]:
SELECT e.emp_no, e.first_name, e.last_name, MAX(s.salary) AS highest_salary
FROM employees e
JOIN salaries s ON e.emp_no = s.emp_no
GROUP BY e.emp_no, e.first_name, e.last_name
ORDER BY highest_salary DESC
LIMIT 10;

#### Query 2

List all employees who have had more than one manager:

##### Answer

In [ ]:
SELECT e.emp_no, e.first_name, e.last_name, COUNT(DISTINCT m.emp_no) AS num_managers
FROM employees e
JOIN dept_emp de ON e.emp_no = de.emp_no
JOIN dept_manager m ON de.dept_no = m.dept_no AND de.from_date BETWEEN m.from_date AND m.to_date
GROUP BY e.emp_no, e.first_name, e.last_name
HAVING num_managers > 1;

#### Query 3

List all departments and the average salary of their employees

##### Answer

In [ ]:
SELECT d.dept_name, AVG(s.salary) AS avg_salary
FROM departments d
JOIN dept_emp de ON d.dept_no = de.dept_no
JOIN salaries s ON de.emp_no = s.emp_no
GROUP BY d.dept_name;